// 自定义markdown容器用到的样式
.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

.code-details-block
  summary
    background-color #282c34
    border-radius 6px
    color #ffdeb0
    cursor pointer
    padding 1rem 0 1rem 1rem
    border #0e0f12 solid 1px

  div[class*="language-"].line-numbers-mode pre
    margin 0

// 修改页面最大宽度
//.theme-default-content:not(.custom)
//  max-width 60%
