// 自定义markdown容器用到的样式
.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8

  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

.code-details-block
  summary
    background-color #282c34
    border-radius 6px
    color #ffdeb0
    cursor pointer
    padding 1rem 0 1rem 1rem
    border #0e0f12 solid 1px

  div[class*="language-"].line-numbers-mode pre
    margin 0

// 修改页面最大宽度
//.theme-default-content:not(.custom)
//  max-width 60%

// 收藏卡片链接的样式
.card-list-container
  margin-top 1rem

  .card-list
    display flex
    flex-flow row wrap

    a
      text-decoration none
      color inherit

    .card
      width calc(100% / 3 - 1rem)
      height 100px
      //background-color #c7c4c4
      border 1px solid rgba(0, 0, 0, .1)
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
      border-radius 4px
      margin 0.5rem
      transition all 0.3s
      display flex
      flex 0 0 30%

      &:hover
        box-shadow 0 0.5rem 2rem #ccc
        transform translate(0, -3px)
        text-decoration none !important

      img
        width 32px
        height 32px
        border-radius 50%
        margin auto 0 auto 1rem

      div
        width 100%
        padding 0.5rem

        .title
          //font-size 1.2rem
          margin 0.2rem 0 0.1rem 0
          text-align center

        .info
          font-size 0.8rem
          color #757575
          margin 0 0 0.2rem 0.2rem

  .language-yaml
    // 隐藏卡片列表里的yaml代码块
    display none

@media screen and (max-width: 1090px)
  // 屏幕宽度小于1090px不显示info
  .card-list-container
    .card-list
      .card
        .info
          display none
        div
          // 子元素垂直居中
          display -webkit-flex
          align-items center

@media screen and (max-width: 450px)
  // 屏幕宽度小于450px不显示title
  .card-list-container
    .card-list
      .card
        div
          display none
        img
          margin auto
